_data
dist
dist.deno
.vite

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
deno.lock

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
