@import "tailwindcss";
@plugin "daisyui";

.app-layout {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.my-top-nav {
  position: sticky;
  top: 0;
  z-index: 10;
}

.app-content {
  overflow: auto;
  container-type: size;
  overflow-y: scroll;
}